.App {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  display: flex;
  background-color: #fcfcfc;


}
* {
    box-sizing: border-box;
}

.Main {
  display: flex;
  overflow: auto;
  padding-right: 7%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #fcfcfc;

}

.Main .year {
  text-align:right;
  float:right;
}

.Main .head {
  text-align:left;
  float:left;
}

.Main .content {
  display:inline-block;
}

.Main .section {
  min-height: 100vh;
}

.profilepic {
  width:65%;
  height:65%;
  border-radius: 55%;
  border:5px solid black;
  margin-bottom: 10%;
  border-color: #32407b;

}

.drawer {
  width: 270px;
  flex-shrink: 0;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: white;
  background: #151965;

  overflow-x: hidden;
  padding-top: 10%;
  height: 100vh;
  font-size: 15px;
  text-align: center;
  bottom: 0;
  position:sticky;
  max-width: 270px;
}

.title{
  font-family: Optima;
}

.Sidebar a {
  padding: 6px 8px 10px 16px;
  text-decoration: none;
  font-size: 150%;
  color: #fcfcfc;
  display: block;
}

.Sidebar a:hover {
  color: #46b5d1;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 80px;
  padding-bottom: 0%;
  margin-bottom: 0%;
  color: #32407b;
}

#aboutme {
  display:inline-block;

}
.name {
  display: flex;
  font-size: 120px;
  margin-top: 15%;
  margin-bottom: 1%;
}

.bio {
  float: right;
}

p {
  font-size: 20px;
}

.icon {
  padding: 1%;

}

.sidecontent {
  padding-top: 40%;
}
