.App {
  text-align: center;
}


.profilepic {
  width:60%;
  height:60%;
  border-radius: 50%;
}

.Sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: white;
}

.title{
  font-family: Optima;
}

.sidebar {
  width: 25%;
  position: absolute;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding-top: 3%;
  padding-bottom: 100%;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidebar a:hover {
  color: #064579;
}



.App-link {
  color: #61dafb;
}
